* {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(146, 212, 151);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}


#inputNumero {
  padding: 1rem;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 8px;
  
  border: 1px solid gainsboro;
}

#btnAdicionar, #btnZerar {
  padding: 1rem;
  width: 100%;
  margin-bottom: .5rem;
  border: 0;
  border-radius: 8px;
  text-transform: uppercase;
}

#btnAdicionar {
  background-color: green;
}
#btnZerar {
  background-color: darkgrey;

}


.tabela {
  display: flex;
  flex-direction: row;

  margin-bottom: 30px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 5rem;
}

.coluna {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
} 

.numeros {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 50%;
  width: 100px;
}

.numero {
  margin: .5rem;
  padding: .5rem;
  border-radius: 20px;
  background-color: rgba(217,217,217,0.53);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.active {
  background-color: rgb(223, 17, 17);
  font-weight: bold;
  color: white;
}

button {
  cursor: pointer;
}

@media screen and (min-width: 769px) {
  .container {
    flex-direction: row;

    justify-content: space-around;
    
    height: 80vh;
    padding-top: 0;
  }

  .tabela {
    margin-bottom: 0;
  }
}