* {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  width: 80%;
  padding-top: 110px;
}


#inputNumero {
  padding: 1rem;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 8px;
  
  border: 1px solid gainsboro;
}

#btnAdicionar, #btnZerar {
  padding: 1rem;
  width: 100%;
  margin-bottom: .5rem;
  border: 0;
  border-radius: 8px;
  text-transform: uppercase;
}

#btnAdicionar {
  background-color: green;
}
#btnZerar {
  background-color: darkgrey;

}


.tabela {
  display: flex;
  flex-direction: row;

  margin-bottom: 30px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.numero {
  margin: .5rem;
  padding: .5rem;
  border-radius: 20px;
  background-color: darkgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.b.active {
  background-color: red;
}
.i.active {
  background-color: blue;
}
.n.active {
  background-color: fuchsia;
}
.g.active {
  background-color: green;
}
.o.active {
  background-color: tomato;
}

@media screen and (min-width: 769px) {
  .container {
    flex-direction: row;

    justify-content: space-around;
    
    height: 80vh;
    padding-top: 0;
  }

  .tabela {
    margin-bottom: 0;
  }
}